@model PacchettoViaggio

<div class="container package-details-container d-flex align-items-center">
    <image style="width: 400px" src="@Model.Image"></image>
    <div class="d-flex flex-column mx-4">
        <h1>@Model.Title</h1>
        <h2>@Model.Price</h2>
        <h3>@Model.Description</h3>
        @foreach (Message message in @Model.Messages)
        {
            <div>@message.Title</div>
        }
    </div>
    </div>
</div>
